
.event {
    background-color: #baffc9;
    box-shadow: 10px 10px 10px lightslategray;
    border-radius: 10px;
    text-align: center;
}

.event-location {
    padding-bottom: 18px;
    font-weight: bold;
    font-size: large;
}

.event-start {
    padding-bottom: 15px;
}


.details-button {
    background-color: #374C3C;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    box-shadow: 5px 5px 5px lightslategray;
}